@font-face {
    font-family: 'final_frontier_old_styleRg';
    src: url('finalold.woff2') format('woff2'),
         url('finalold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'final_frontier_old_styleRg';
    font-size: 5rem;
}
h2 {
    font-family: 'final_frontier_old_styleRg';
    font-size: 4rem;
}
h3 {
    font-family: 'final_frontier_old_styleRg';
    font-size: 3rem;
}