---
layout: default
#show: rnd
#season: 4
#start: 130
#end: 180
---

<div class="container hidden-md-up">
  <br>
  <div class="row">
    <div class="col-4">
      <a href="{{ site.baseurl }}/"><img src="images/notsorandomtrek.png" class="mb-3" style="max-height:4rem"></a>
    </div>
    <div class="col">
      <p style="font-size: 0.75rem;line-height:1.1em">
      Two people watch a randomly selected episode of Star Trek and then record a <a href="https://theincomparable.com/randomtrek">podcast about it</a>. A couple of weeks later the podcast is added to this de-randomized list of episodes.</p>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col text-center">
      <div class="btn-group">
{% assign series = site.data.shows | where: 'type', 'series' %}
{% for s in series %}
        <a class="btn btn-secondary btn-sm" href="{{ s.id }}.html" title="{{ s.name }}">{{ s.short }}</a>
{% endfor %}
      </div>
      <div class="btn-group">
{% assign specials = site.data.shows | where: 'type', 'special' %}
{% for s in specials %}
        <a class="btn btn-secondary btn-sm" href="{{ s.id }}.html" title="{{ s.name }}">{{ s.code }}</a>
{% endfor %}
      </div>
    </div>
  </div>
{% assign episodes = site.data.ran | reverse %}
{% for episode in episodes limit:5 %}
  {% include episode.html episode=episode id=episode.randomtrek_id %}
  <br>
{% endfor %}
</div>

<div class="container hidden-sm-down">
  <br>
  <div class="row">
    <div class="col-4 col-md-3 col-sm-4">
      <a href="{{ site.baseurl }}/"><img src="images/notsorandomtrek.png" class="mb-3" style="max-height:4rem"></a>

      <div class="list-group">
{% for s in site.data.shows %}
        <a class="list-group-item" href="{{ s.id }}.html">{{ s.code }}</a>
{% endfor %}
      </div>
      <br>
      {% include about-notsorandomtrek.html %}
    </div>
    <div class="col-8 col-md-9 col-sm-8">
      <div class="jumbotron pt-4 pb-3">
        <h1><span class="text-primary">NOT SO</span> RANDOM TREK</h1>
        <p class="lead">
          Two people watch a randomly selected episode of Star Trek and
          then talk about it. A couple of weeks later a podcast appears.
        </p>
        <p class="lead">      
          Another couple of weeks later, the episode is added to the
          de-randomized list of episodes. This comes in handy when you are
          binge watching show after show, season after season.
        </p>
        <p>
          <a href="about.html">About Random Trek</a> • 
          <a href="https://github.com/dashorst/notsorandomtrek/blob/master/README.md">About this website</a>
      </div>

{% assign episodes = site.data.ran | reverse %}
{% for episode in episodes limit:5 %}
  {% include episode.html episode=episode id=episode.randomtrek_id %}
  <br>
{% endfor %}
    </div>
  </div>
</div>