      <h3><span class="text-muted">ABOUT</span> <span class="text-primary">NOT SO</span> RANDOM TREK</h3>
      <p>
        The podcast "<a
        href="https://www.theincomparable.com/randomtrek/">Random Trek</a>" is
        a great way to revisit beloved or maligned episodes of the various Star
        Trek TV shows. However when you are re watching a whole TV show in
        order, it is difficult to find the specific episodes on the Random Trek
        web site, or in your podcast player. This website displays the Random
        Trek episodes in series order so you can find the right podcast after
        or before you have watched it.
      </p>

      <h5 class="trekked">Disclaimer</h5>
      <p>
        <b class="text-primary">This website is not affiliated with Random Trek,
        nor The Incomparable.</b>
      </p>
      <p>
        It was created as a hobby and companion to the official Random Trek 
        podcast, as a desire to be able to listen to the podcasts while 
        watching <em>Star Trek: the Next Generation</em> in order.
      </p>
      <p>
        That said, please consider subscribing to The Incomparable to support
        Random Trek and the other podcasts.
      </p>
      <h5 class="trekked">The Incomparable</h5>
      <p>

      Sign up, help support <a
      href="https://www.theincomparable.com/randomtrek">Random
      Trek</a>, and get some fun bonus material including a Random Trek
      devoted to <em>Star Trek: The Animated Series</em>.
      
      <p>
        
      <a class="btn btn-primary w-100" href="http://theincomparable.com/members" style="white-space:normal">Incomparable Memberships! &raquo;</a>
