---
layout: default
---
<div class="container">

{% include header.html %}
{% include showtabs.html %}

{% for series in site.data.series %}
{% if series.code == page.show %}
<div class="tab-content">
  <br>
  <div id="tab-{{ series.code }}" class="tab-pane active" role="tabpanel">
    <div class="row">
      <div class="col-2">
        <ul class="nav flex-column nav-pills" role="tablist">
          {% for season in series.seasons %}
            <li class="nav-item"><a class="nav-link{% if forloop.first == true %} active{% endif %}" data-toggle="tab" href="#{{ series.code }}-S{{ season.season }}">Season {{ season.season }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col">
        <div class="tab-content">
          {% for season in series.seasons %}
          <div id="{{ series.code }}-S{{ season.season }}" class="tab-pane{% if forloop.first == true %} active{% endif %}" role="tabpanel">
            {% for episode in season.episodes %}
            <p>
              <legend>{{episode.number}} {{episode.title}}</legend>
              <span class="badge badge-pill badge-info">{{ episode.code }}</span>
              <p class="lead">{{ episode.summary }}</p>
              <h5>Random Trek: #{{ episode.randomtrek.trek_id }}</h5>
              <small>Published: {{ episode.randomtrek.date }} | Duration: {{ episode.randomtrek.duration }}mins</small>
              <p>{{ episode.randomtrek.description }}</p>

              <a class="btn btn-primary btn-sm" href="https://www.theincomparable.com/randomtrek/{{episode.randomtrek.trek_id}}">Random Trek: {{ episode.randomtrek.trek_id }}</a>

              {% if episode.alpha %}<a class="btn btn-primary btn-sm" href="{{ episode.alpha }}">Memory Alpha</a>{% endif %}
            </p>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
</div>
